################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/src/Examples/.vs
/src/Examples/Binding/bin
/src/Examples/Binding/obj
